<footer>
  <div class="container">
    <div class="row justify-content-start align-items-center">
    <div class="col">
        <p>Wir freuen uns, Ihnen bei Fragen weiter helfen zu können.</p>
    </div>
    <div class="col">
        <p>
            Rufen Sie uns an: <br />
            <a href="tel:+49 1713864119">+49 1713864119</a>
        </p>
    </div>
    <div class="col">
        <p>
            E-Mail: <br />
            <a href="mailto:info@escaperoomorganizer.de" >info@escaperoomorganizer.de</a>
        </p>
    </div>
    <div class="col">
      <a href="/pages/impressum">Impressum</a>
    </div>
  </div>
</footer>
</body>
</html>