<footer>
  <div class="container">
    <div class="row justify-content-start align-items-center">
    <div class="col">
        <p>Wir freuen uns, Ihnen bei Fragen weiter helfen zu können.</p>
    </div>
    <div class="col">
        <p>
            Rufen Sie uns an: <br />
            <a href="tel:+49 1713864119">+49 1713864119</a>
        </p>
    </div>
    <div class="col">
        <p>
            E-Mail: <br />
            <a href="mailto:info@escaperoomorganizer.de" >info@escaperoomorganizer.de</a>
        </p>
    </div>
    <div class="col">
      <a href="/pages/impressum">Impressum</a>
    </div>
  </div>
</footer>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
</body>
</html>