<link
  href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
  rel="stylesheet"
  type="text/css"
/>
<style type="text/css">
  #mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
  }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div class="modal" tabindex="-1" id="newsletterModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Newsletter</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        action="https://escaperoomorganizer.us17.list-manage.com/subscribe/post?u=fbede5bbe6466318dcc2925e1&amp;id=075de6bc66"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div class="modal-body">
          <!-- Begin Mailchimp Signup Form -->

          <div id="mc_embed_signup">
            <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">Anmeldung zum Newsletter</label>
              <input
                type="email"
                value=""
                name="EMAIL"
                class="email"
                id="mce-EMAIL"
                placeholder="Email Adresse address"
                required
              />
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div
                style="position: absolute; left: -5000px"
                aria-hidden="true"
              >
                <input
                  type="text"
                  name="b_fbede5bbe6466318dcc2925e1_075de6bc66"
                  tabindex="-1"
                  value=""
                />
              </div>
              <div class="clear"></div>
            </div>
          </div>

          <!--End mc_embed_signup-->
        </div>
        <div class="modal-footer">
          <button
            name="subscribe"
            type="submit"
            id="mc-embedded-subscribe"
            class="btn btn-success mb-3"
          >
            Anmelden
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
