{{ partial "header.html" . }}
<main>
  <section class="parallax">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <p class="lead">Deine zentrale Anlaufstelle für Escape Rooms</p>
          <h1>Dein Portal für Escape-Rooms</h1>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <h2>Finde immer den passenden Raum</h2>
        </div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <p>
            Escape Room Organizer hilft dir immer den besten Raum für dich zu
            finden.
          </p>
        </div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col-5"></div>
        <div class="col-2">
          <div class="divider"></div>
        </div>
        <div class="col-5"></div>
      </div>
      <div class="row justify-content-start align-items-center icon-container">
        <div class="col"><i class="fas fa-filter"></i></div>
        <div class="col"><i class="fas fa-star-half-alt"></i></div>
        <div class="col"><i class="fas fa-tasks"></i></div>
        <div class="col"><i class="far fa-calendar-plus"></i></div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col">
          Grenze die Suche anhand vielfältiger Kriterien ein
        </div>
        <div class="col">Sieh dir Bewertungen anderer Spieler an</div>
        <div class="col">Verwalte bereits gespielte Räume</div>
        <div class="col">Buche direkt über unsere Platform</div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <h2>Das Konzept</h2>
        </div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <p>
            Die Verwaltung all deiner Escape-Room Aktivitäten in einer
            Plattform
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-5"></div>
        <div class="col-2">
          <div class="divider"></div>
        </div>
        <div class="col-5"></div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <p>
            Vom Suchen und Finden eines zu spielendne Raumes, über die direkte
            Buchung, bis hin zum Austausch mit anderen Spielern oder der
            Verwaltung all deiner bereits gespielten Räume. All das kannst du
            Problemlos über unsere Plattform erledigen.
          </p>
        </div>
        <div class="col">
          <p>
            Wir sehen es als unser Ziel das komplette Escape Room Erlebnis
            ganzheitlich zu betrachten und so einfach wie möglich zu gestalten.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <h2>Haben wir dein Interesse geweckt?</h2>
        </div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col">
          <p>
            Unsere Platform befindet sich aktuell noch im Aufbau. Wenn du über
            alle weiteren Schritte auf dem Laufenden bleiben willst melde dich
            einfach schnell zu unserem Info-Service an.
          </p>
        </div>
      </div>
      <div class="row justify-content-start align-items-center">
        <div class="col-5"></div>
        <div class="col-2">
          <div class="divider"></div>
        </div>
        <div class="col-5"></div>
      </div>
    </div>
  </section>
  <section id="newsletter">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col">
          Melde dich zu unserem Info-Service an um über alle neuen
          Entwicklungen informiert zu werden
        </div>
        <div class="col">
          <a href="" class="btn btn-success" role="button">jetzt Anmelden</a>
        </div>
      </div>
    </div>
  </section>
</main>
{{ partial "footer.html" . }}
